.nav-ul li{
  display: inline-block;
  padding: 10px;
  
}
.nav-ul{
  margin-top: 0;
  padding-left: 0;
  background-color: rgba(128, 128, 128, 0.719);
}

.nav-ul li a{
  color: white;
  padding: 5px;
  text-decoration: none;
}
.nav-ul li a:hover{
  background-color:#86BC24
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header Section.................. */
header{
  background: #000;
  border-bottom-style: solid;
  border-width: 5px;
  border-color: #86BC24;
  color: #FFF;
  padding: 20px;
  margin-bottom:50px ;
  text-align: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
