table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #86BC24;
   
  }

  /* th, td {
    border: 1px solid white;
    background-color: #96D4D4;
  } */
  thead{
    background-color: aliceblue;
    border: 2px solid #86BC24;
  }
  tr:nth-child(odd) {
    background-color:#D9D9D9;
  }
  td{
    text-align: center;
  }
  /* Search Styles....................... */
  .search-box{
    width: 400px;
    margin: 20px;
    height: 30px;
    padding-left: 10px;
    float: right;
  }